* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.destaque img {
    width: 100%;
}

ul {
    list-style: none; 
}

body {
    background: $light-color-1;
}

main {
    width: 1800px;
    margin: 0 auto;
}