%dark-font-menu {
    .link-principal {
        color: $dark-color-1 !important;
    }

    .logo svg,
    .item-lupa svg,
    .item-carrinho svg {
        fill: $dark-color-1 !important;
    }

    .menu-item {
        h3, a {
            color: $dark-color-1 !important;
        }
    }
}

.menu {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .logo {
        display: flex;
        align-items: center;

        svg {
            width: 100px;
            fill:$light-color-1;
        }

        .link-principal {
            @include text-1(14px, $light-color-1);

            &::before {
                content: '|';
                padding: 0 16px;
            }
        }
    }

    .menu-lista {
        display: flex;

        .menu-item {
            h3, a {
                display: block;
                cursor: pointer;
                padding: 0 15px;
                @include text-1(14px, $light-color-1);
                text-transform: uppercase;
                line-height: 52px;
            }

            .item-lupa svg {
                fill: $light-color-1;
                display: block;
                padding: 18px 0;
                height: 16px;
                width: 16px;
            }

            .item-carrinho svg {
                fill: $light-color-1;
                display: block;
                padding: 15px 0;
                height: 22px;
                width: 22px;
            }
        }
    }

    .submenu {
        display: none;
        background: $light-color-1;
        padding: 60px 100px 100px;
        position: absolute;
        top: 52px;
        right: 0;
        left: 0;

        &.toshow {
           display: flex;
        }

        div {
            flex: 1;
            margin: 0 12px;
            
            a {
                display: block;
                @include text-1(14px, $dark-color-1);
                line-height: 34px;

            }

            .submenu-titulo {
                @include text-2(14px, $dark-color-1);
                border-bottom: 5px solid $light-color-2;
                padding-bottom: 18px;
                margin-bottom: 30px;
            }
        }

        .submenu-destaque {
            flex: 2;
            img {
                width: 100%;
            }

            h4 {
                margin-top: 24px;
                text-align: center;
                @include text-2(24px, $dark-color-2);
            }
        }
    }

    &:hover {
        background: $light-color-1 !important;
        @extend %dark-font-menu;
    }
    &.dark-menu {
       @extend %dark-font-menu;
    }
}