/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Colors */
$light-color-1: #fff;

$dark-color-1: #000;
$dark-color-2: #393c41;

/* Functions */
@mixin text-1($size, $color) {
    font: 400 $size 'Roboto', sans-serif;
    color: $color;
    letter-spacing: 1px;
}

@mixin text-2($size, $color) {
    font: 500 $size 'Roboto', sans-serif;
    color: $color;
    letter-spacing: 2px;
}

/* Sass */
@import "geral";
@import "menu";
@import "destaque";
@import "conteudo"; 
@import "footer";
